<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <title><%= controller.pageTitle %></title>
        <link rel="stylesheet" type="text/css" href="/twoutput.css"/>
        <script src="/global.js"></script>
    </head>
    <body>
        <div id="growableToFooter">
            <header class="bg-white border-b border-b-neutral-300">
                <div class="mx-auto max-w-[1000px] h-20 flex flex-row items-center">
                    <img class="h-10 w-auto mr-4" src="/pics/logo.jpg" alt="Signum Platform" />
                    <%- include('components/navbar') %>
                </div>
            </header>
            <main>
                <h1><%= controller.pageSubtitle %></h1>
                <% if (pageMessages && pageMessages.length > 0)
                { %>
                    <div class="rounded bg-green-300 mx-auto my-4 w-72 py-2 px-4 text-base">
                    <% for (const message of pageMessages) { %>
                        <p><%= message %></p>
                    <% } %>
                    </div>
                <% } %>
                <%- controller.render() %>
            </main>
        </div>
        <footer>
            Signum Platform
        </footer>
    </body>
</html>