
<% if (mode === 'askOtp') { %>
    <form class="frame max-w-[600px] mx-auto" method="get" action="/script/organizations_recoverpassword_checkotp">
        <input type="hidden" name="organizationId" value="<%= organizationId %>" />
        <%- include('components/ext_label', { props: { label: "Insira o código enviado para o e-mail", children: `<input type="number" required name="otp" class="w-[calc(100%-100px)]" /><button type="submit" class="btn ml-2">Prosseguir</button>` }}) %>
    </form>
<% } else if (mode === 'changePassword') { %>
    <form class="frame max-w-[600px] mx-auto" method="post" action="/post/organizations_recoverpassword" onsubmit="return Signum.Organizations.RecoverPassword.onSubmit()">
        <%- include('components/ext_label', { props: { label: "Nova senha", children: `<input type="password" name="newPassword" id="newPassword" required maxlength="140" class="w-full"/>` }}) %>
        <%- include('components/ext_label', { props: { label: "Repita a nova senha", children: `<input type="password" name="newPassword2" id="newPassword2" required maxlength="140" class="w-full"/>` }}) %>
        <div class="text-center mt-2">
            <button type="submit" class="btn">Alterar senha</button>
        </div>
    </form>
    <script>
        Signum.Organizations ||= {};
        Signum.Organizations.RecoverPassword ||= {}; 
        Signum.Organizations.RecoverPassword.onSubmit = function()
        {
            const pass1 = document.getElementById('newPassword');
            const pass2 = document.getElementById('newPassword2');

            if (pass1.value !== pass2.value)
            {
                alert("As senhas não são iguais!");
                return false;
            }
            
            return true;
        }; 
    </script>
<% } else { %>
    <form class="frame max-w-[600px] mx-auto" method="get" action="/script/organizations_recoverpassword_sendemail">
        <%- include('components/ext_label', { props: { label: "E-mail", children: `<input type="email" required name="email" class="w-[calc(100%-100px)]" /><button type="submit" class="btn ml-2">Prosseguir</button>` }}) %>
    </form>
<% } %>