<style media="screen">

  #videoDiv
  {
    padding: 1rem;
    display: grid;
    grid-gap: 10px;
    height:80%;
    position: relative;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 300px;
  }

  video 
  {
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border:1px solid darkgray;
  }
</style>
<script type="text/javascript">
  var roomID = "<%= roomId %>";
  var userType = "<%= userData.type %>";
  var screenName = "<%= userData.screenName %>"
  var userId = "<%= userData.id || 0 %>";
  var relatedCustomerId = "<%= userData.relatedCustomerId ?? '' %>";
  var spinner = `<%- include('components/spinner', { props: { className: 'w-5 h-5 inline-block mb-2 fill-white' }}) %>`;
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/roomscript.js" charset="utf-8" defer></script>

<div class="bg-neutral-700 rounded flex flex-col lg:flex-row">
  <div id="videoDiv" class="grow">

  </div>
  <div id="chatDiv" class="lg:w-1/4 w-[calc(100%-16px)] lg:max-h-screen bg-white rounded flex flex-col p-2 m-2">
      <div class="min-h-[300px] max-h-screen overflow-y-auto">
          <ul id="chatMessageList" class="list-disc ml-4">

          </ul>
      </div>
      <div class="flex flex-row">
          <input type="text" class="grow" placeholder="Sua mensagem..." size="6" id="txtChatNewMessage" maxlength="1000"/>
          <button type="button" class="btn ml-2 shrink" id="btnChatSendMessage" onclick="sendChatMessage(event)">Enviar</button>
      </div>
  </div>
</div>
<div class="bg-neutral-700 rounded mt-2 p-2 text-white">
    <label class="mr-4">
        <input type="checkbox" checked onchange="toggleVideo(event)" /> Habilitar meu vídeo
    </label>
    <label class="mr-4">
        <input type="checkbox" checked onchange="toggleAudio(event)" /> Habilitar meu áudio
    </label>
    <label class="mr-4">
        <input type="checkbox" onchange="switchCameraOrScreenShare(event)"/> Compartilhar tela
    </label>
    <label>
        Mudar meu nome para: <input type="text" size="20" class="bg-neutral-800" maxlength="100" id="txtNewScreenName" />
        <button type="button" class="btn ml-2 py-1" onclick="sendNameChange();">Alterar</button>
    </label>
</div>

<div id="divSurvey" class="hidden absolute top-0 bottom-0 left-0 right-0 z-10 bg-black/70 items-center justify-center">
    <div class="bg-white rounded py-4 px-2">
        <h3 class="text-center m-2 font-bold">Como você avaliaria esta sessão de tradução?</h3>
        <form id="frmSessionSurvey" class="flex flex-row flex-wrap">
          <input id="surveyGradeN" class="hidden peer/nd" type="radio" name="surveyPoints" checked value="" />
          <label for="surveyGradeN" class="flex items-center justify-center font-bold peer-checked/nd:bg-blue-600 border peer-checked/nd:text-white border-neutral-400 rounded-full w-18 h-10 p-2 mr-2">
              <span>Não avaliar</span>
          </label>

          <input id="surveyGrade0" class="hidden peer/zero" type="radio" name="surveyPoints" value="0" />
          <label for="surveyGrade0" class="flex items-center justify-center font-bold peer-checked/zero:bg-blue-600 border peer-checked/zero:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>0</span>
          </label>

          <input id="surveyGrade1" class="hidden peer/one" type="radio" name="surveyPoints" value="1" />
          <label for="surveyGrade1" class="flex items-center justify-center font-bold peer-checked/one:bg-blue-600 border peer-checked/one:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>1</span>
          </label>

          <input id="surveyGrade2" class="hidden peer/two" type="radio" name="surveyPoints" value="2" />
          <label for="surveyGrade2" class="flex items-center justify-center font-bold peer-checked/two:bg-blue-600 border peer-checked/two:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>2</span>
          </label>

          <input id="surveyGrade3" class="hidden peer/three" type="radio" name="surveyPoints" value="3" />
          <label for="surveyGrade3" class="flex items-center justify-center font-bold peer-checked/three:bg-blue-600 border peer-checked/three:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>3</span>
          </label>

          <input id="surveyGrade4" class="hidden peer/four" type="radio" name="surveyPoints" value="4" />
          <label for="surveyGrade4" class="flex items-center justify-center font-bold peer-checked/four:bg-blue-600 border peer-checked/four:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>4</span>
          </label>

          <input id="surveyGrade5" class="hidden peer/five" type="radio" name="surveyPoints" value="5" />
          <label for="surveyGrade5" class="flex items-center justify-center font-bold peer-checked/five:bg-blue-600 border peer-checked/five:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>5</span>
          </label>

          <input id="surveyGrade6" class="hidden peer/six" type="radio" name="surveyPoints" value="6" />
          <label for="surveyGrade6" class="flex items-center justify-center font-bold peer-checked/six:bg-blue-600 border peer-checked/six:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>6</span>
          </label>

          <input id="surveyGrade7" class="hidden peer/seven" type="radio" name="surveyPoints" value="7" />
          <label for="surveyGrade7" class="flex items-center justify-center font-bold peer-checked/seven:bg-blue-600 border peer-checked/seven:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>7</span>
          </label>

          <input id="surveyGrade8" class="hidden peer/eight" type="radio" name="surveyPoints" value="8" />
          <label for="surveyGrade8" class="flex items-center justify-center font-bold peer-checked/eight:bg-blue-600 border peer-checked/eight:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>8</span>
          </label>

          <input id="surveyGrade9" class="hidden peer/nine" type="radio" name="surveyPoints" value="9" />
          <label for="surveyGrade9" class="flex items-center justify-center font-bold peer-checked/nine:bg-blue-600 border peer-checked/nine:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>9</span>
          </label>

          <input id="surveyGrade10" class="hidden peer/ten" type="radio" name="surveyPoints" value="10" />
          <label for="surveyGrade10" class="flex items-center justify-center font-bold peer-checked/ten:bg-blue-600 border peer-checked/ten:text-white border-neutral-400 rounded-full w-10 h-10 mr-2">
              <span>10</span>
          </label>
      </form>
      <div class="text-center mt-4">
          <button type="button" class="btn" id="btnSendSurvey">Enviar</button>
      </div>
    </div>
</div>
